body {
  margin: 0;
  padding: 0;
  font-family: 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #314165;
  --white: #eee;
  --light-teal: #76889e;
  --green: #3ecc5b;
  --red: #ff4343;
}
